---
export const prerender = true;

import FileForm from '../components/file-form';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Zod env validation'>
  <main class='flex flex-col items-center'>
    <h1 class='text-center text-5xl font-geologica mb-10'>
      Upload your .env file to get Zod validation
    </h1>
    <FileForm client:load />
  </main>
</Layout>

<style></style>
